Poper-API
Poper-Server

Poper-API/build
Poper-Server/build

Poper-API/.gradle
Poper-Server/.gradle

Poper-API/.idea
Poper-Server/.idea

.idea
last-tuinity
build/
.gradle/
run/

launcher-airplane.jar
gradle.properties